<h1> This is the DOV PAGE </h1>
<div id="myCarousel" class="carousel slide span 6">
    <!-- Carousel items -->
    <div class="carousel-inner"> 
    <div class="active item"><%= image_tag("1.jpg", :size => "400x500", :alt => "1") %></div>
    <div class="item"><%= image_tag("2.jpg", :size => "400x500", :alt => "1") %></div>
    <div class="item"><%= image_tag("3.jpg", :size => "400x500", :alt => "1") %></div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
