<h1> This is the test PAGE </h1>

<p id="nav">
  <a href="#test1">test 1</a>
  <a href="#test2">test 2</a>
  <a href="#test3">test 3</a>
  <a href="#test4">test 4</a>
</p>

<div id="TestBox">
</div>